.green .cardIcon{
    width: 100%;
    height: 4rem;
}

#cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & > *{
        width: 30%;

        @media screen and (max-width: 640px) {
            width: calc(100% - 2rem)
            
        }
    }
}