.green .cardIcon{
    width: 100%;
    height: 4rem;
}

#cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & > *{
        width: 30%;

        @media screen and (max-width: 640px) {
            width: calc(100% - 2rem)
            
        }
    }
}


.slick-track{

    @media  screen and (max-width: 990px) {
        .project{
            height: 14rem;
        }
        
    }

    @media screen and (max-width: 600px) {
        .project{
            height: 20rem;
        }
    }

    @media screen and (max-width: 400px) {
        .project{
            height: 14rem;
        }
    }


    // & > * {
    //     height: 20rem;

    //     & > {
    //         height: 20rem;
    //     }
    // }
}