.initials{
    font-family: 'Nunito', sans-serif;
}

.socialIconRow .social-icons{
    .socialIcon{
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #048b6e;
            filter: drop-shadow(0px 10px 10px #01be9570);
        }
    }
}


#avatarContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    

    #avatar{
        position: absolute;
        bottom: 0;
        transform: scale(1.4);
        transform-origin: bottom center;

        @media screen and (max-width: 470px) {
            transform: unset;
        }
    }

    .pentagon {
        margin-top: 6rem;
        margin-bottom: 1px;
        position: relative;
        width: 30rem; /* Adjust size as needed */
        height: 30rem; /* This value is approximately 0.5 * (1 + √5) * width */
        background-color: #048b6e; /* Change color as needed */
        filter: drop-shadow(0px 10px 10px #01be9551);
        /* Create the five sides of the pentagon */
        clip-path: polygon(50% 0%, 100% 38.2%, 82.6% 100%, 17.4% 100%, 0% 38.2%);

        @media screen and (max-width: 470px) {
            width: 20rem;
            height: 20rem;
            margin-top: 3rem;
        }
      }
}

#home{
    @media screen and (max-width: 1100px) {
        flex-direction: column;
    }

}